html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.profile-infos-container {
    align-items: center;
    background-color: #2e6ec2;
    display: flex;
    color: #fff;
    justify-content: space-around;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.profile-infos {
    font-size: 18px;
}

.profile-infos-image, .profile-logout-link {
    width: 40px;
}

#profile-logout, #profile-logout-link {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
}

.profile-infos-letter-logout {
    position: absolute;
    right: 32px;
    top: 30px;
    width: 25px;
    font-size: 15px;
    color: antiquewhite;
}

#logout-img {
    width: 40px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(215, 223, 223);
}


.certificates-container, .bio-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    display: inline-block; /* Garante que o pseudo-elemento se alinhe corretamente com o texto */
}

.section-title::after {
    content: ''; /* Necessário para gerar o pseudo-elemento */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Ajuste conforme necessário para posicionar o sublinhado */
    height: 2px; /* Espessura do sublinhado */
    background: currentColor; /* Usa a cor do texto do elemento */
    box-shadow: 1px 1px 0 #fff, -1px -1px 0 #000; /* Mesmo efeito de sombra do texto */
}

.certificates-institution {
    background-color: #aac4e465;
    color: #001A3B;
    cursor: default;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.projects-container {
    position: relative;
    background-color: rgb(215, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 5px; */
    padding: 10px;
    width: 31%;
}

.project_unit_block {
    margin: 0 50px 5px -10px;
    border: 2px solid #d1cbcb;
    padding: 10px;
    padding-top: 1px;
    position: relative;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
}

.project_unit_block a, .project_unit_block form {
    display: inline-block;
    margin-right: 5px;
}

.project_unit_block form {
    position: absolute;
    right: 3px;
    bottom: 10px;
}

.project_unit_block a {
    position: absolute;
    right: 70px;
    bottom: 10px;
}

.project_unit_block a:first-child .button-register-render {
    margin-left: 0;
}


.project-title {
    margin: 10px 0 -8px 0;
    color: #2a0e75;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;

}

.button_add_projetcs {
    position: absolute;
    top: 43px;
    right: 75px;
    padding: 6px;
    background-color: #255031;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

.project-description .project-keyword {
    font-size: 20px;
    font-weight: 20px;
    margin: 10px;
    cursor: default;
}

.project-github-url {
    background-color: #2b8bf8;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
}

.project-github-url:hover {
    background-color: #2e6ec2;
    color: #001A3B;
    cursor: pointer;
    text-decoration: underline;
}

.project-key-skill {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    cursor: default;
}

.bio-container {
    width: 30%;
}

#profile-bio {
    color: #000a18;
}

.section-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.form-login-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.register-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #700328;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.form-register-container {
    display: flex;
    align-items: center;
    flex-direction: center;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 40px;
}

.form-field-container {
    margin-bottom: 10px;
    width: 90%;
}

.form-field-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
}

.button-register {
    width: 30%;
    height: 35px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-size: large;
}

.form-field-container {
    margin-bottom: 20px;
}

.form-field-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.field-errors {
    color: red;
    font-size: 0.8em;
}

.button-login {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

.button-register-render {
    margin-top: 10px;
    margin-left: 5px;
    padding: 8px;
    background-color: #164423;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
