html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9cecf;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.profile-infos-container {
    display: flex;
    align-items: center;
    background: radial-gradient(circle, #06558a, #109e50, #065511);
    display: flex;
    color: #fff;
    justify-content: space-around;
    padding: 7px 0;
    text-align: center;
    position: relative;
    height: 70px;
}

.header-certificate {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
}

#profile-name {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(80deg, rgb(189, 209, 189), rgb(177, 167, 201));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgb(24, 199, 15);
    text-shadow: 2px 2px 2px rgba(19, 18, 18);
}

.profile-infos-image {
    width: 40px;
}

#profile-logout-link {
    position: absolute;
    right: 18px;
    top: 40px;
    width: 40px;
    color: white;
    filter: drop-shadow(0 10px 10px white);
}

.profile-infos-letter-logout {
    position: absolute;
    right: 32px;
    top: 30px;
    width: 25px;
    font-size: 15px;
    color: antiquewhite;
}

#profile-certificate {
    position: absolute;
    left: 40px;
    bottom: 10px;
    min-width: 80px;
    min-height: 50px;
    border-radius: 8px;
    background-color: green;
    color: white;
}

#logout-img {
    width: 40px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-top: 0;
}


.certificates-container, .projects-container, .bio-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.section-title {
    font-size: 2em;
    margin: 6px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;
    position: relative;
    display: inline-block;
    min-height: 30px;
}

.section-title::after {
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px; 
    height: 2px; 
    background: currentColor; 
    box-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;
}

.certificates-institution {
    cursor: default;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.certificates-container, .projects-container {
    position: relative;
    background-color: rgb(215, 223, 223);
    display: flex;
}

.project_unit_block, .certificate_unit_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #d1cbcb;
    padding: 10px;
    padding-top: 1px;
    position: relative;
    min-width: 360px;
    min-height: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.project_unit_block a, .project_unit_block form
.certificate_unit_block a, .certificate_unit_block form  {
    display: inline-block;
    margin-right: 5px;
}

.project_unit_block form, .certificate_unit_block form {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
}

.project_unit_block a, .certificate_unit_block a {
    position: absolute;
    right: 45px;
    top: 10px;
    width: 20px;
}


.project-title {
    margin: 10px 0 10px 0;
    color: #2a0e75;
    font-size: 25px;
    font-weight: bold;
    text-align: center !important;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;
    align-self: center;
}



.project-description, .project-keyword, .project-github-url {
    color: rgb(3, 3, 3);
    font-size: 18px;
    margin: 10px;
    width: 100%;
    text-align: left;
}

.label-about, .label-description {
    background-color: #2b8bf8;
    border-radius: 8px;
    padding: 3px;
    color: white;
}

.project-github-url {
    background-color: #2b8bf8;
    padding: 5px;
    font-size: 18px;
    text-align: left;
    width: fit-content;
    color: white;
    border-radius: 8px;
}

.project-github-url:hover {
    background-color: #90aed4;
    color: #001A3B;
    cursor: pointer;
    text-decoration: underline;
}


#profile-bio {
    color: #000a18;
}

.login-block-container {
    background-color: rgb(236, 240, 235);
}


.section-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c9cecf;
    width: 100%;
    height: 100%;
}

.form-login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eff4f7;
    border-radius: 5px;
    box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    height: fit-content;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.login-text-header, .login-infos-header {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, rgb(13, 99, 11), rgb(38, 12, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    /* transform: rotate(-8deg); */
    margin-top: 5px;
    margin-bottom: 20px;
}

.login-infos-header {
    font-size: 40px;
    /* transform: rotate(-2deg); */
    background: linear-gradient(80deg, rgb(189, 209, 189), rgb(177, 167, 201));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgb(26, 190, 17);
    text-shadow: 2px 2px 2px rgba(19, 18, 18);
    margin-bottom: 10px;
}

.form-login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: fit-content;
}

.label-login, .login-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.label-login {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(79, 66, 197);

}

.login-input input {
    border-radius: 5px;
    padding: 5px 50px 0 50px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.register-container-letter {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.register-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.1);
    color: #700328;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-top: 20px;
}

.form-register-container {
    display: flex;
    align-items: center;
    flex-direction: center;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 40px;
}

#certificate-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: 200px;
    width: fit-content;
    padding: 60px;
    margin-top: 20px;

}

.form-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -15px;
}

.form-field-container .field-input input,
.form-field-container #field-input select {
    padding: 20px;
    justify-content: center;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 83%;
    height: 33px;
    font-size: 20px;
    color: #333;
}

.field-label {
    font-size: 25px;
    text-align: center;
}

.custom-select-class {
    width: 300px;
}


.form-field-container {
    margin-bottom: 20px;
}

.field-errors {
    color: red;
    font-size: 0.8em;
}

.button-login, .button-register {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
}

.button-login:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #e7eef5;
    background-color: #2b8bf8;
    transform: translateY(-2px);
}

.button_add_certificate, .button_add_projetcs  {
    position: absolute;
    top: 21px;
    right: 20px;
    padding: 6px;
    background-color: #255031;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

.button_add_certificate:hover, .button_add_projetcs:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #109e50;
    transform: translateY(-2px);
}

.button-update, .button-delete {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 15px;
}

.button-update {
    width: 20px;
}

.button-update:hover, .button-delete:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.button-register, .button-create-certificate {
    width: fit-content;
    height: 35px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-size: large;
    margin-top: 15px;
}

.button-register:hover, .button-create-certificate:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}