html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #F6FAFC;
    cursor: pointer;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
}

.profile-infos-container {
    align-items: center;
    background-color: #001A3B;
    display: flex;
    color: #fff;
    justify-content: space-around;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.profile-infos {
    font-size: 18px;
}

.profile-infos-image, .profile-logout-link {
    width: 40px;
}


#profile-logout, #profile-logout-link {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
}

.profile-infos-letter-logout {
    position: absolute;
    right: 32px;
    top: 30px;
    width: 25px;
    font-size: 15px;
}

.main-container {
    /* background-color: rgb(203, 211, 198); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#logout-img {
    width: 40px;
}

.certificates-container, .bio-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.bio-container {
    width: 30%;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
}

.certificates-institution {
    background-color: #aac4e465;
    color: #001A3B;
    cursor: default;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.projects-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 30%;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
}

.project-title {
    color: #001A3B;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description, .project-github-url, .project-keyword {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: default;
}

.project-github-url {
    background-color: #0055B7;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
}

.project-github-url:hover {
    background-color: #AAC4E4;
    color: #001A3B;
    cursor: pointer;
    text-decoration: underline;
}

.project-key-skill {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    cursor: default;
}

.bio-container {
    width: 30%;
}

#profile-bio {
    color: #000a18;
}

.section-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.form-login-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.register-container {
    align-items: center;
    display: flex;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #700328;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.form-register-container {
    display: flex;
    align-items: center;
    flex-direction: center;
    background-color: #F6FAFC;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #001A3B;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 40px;
}

.form-field-container {
    margin-bottom: 10px;
    width: 90%;
}

.form-field-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
}

.button-register {
    width: 30%;
    height: 35px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-size: large;

}

.form-field-container {
    margin-bottom: 20px;
}

.form-field-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.field-errors {
    color: red;
    font-size: 0.8em;
}

.button-login {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

.button-register-render {
    margin-top: 10px;
    padding: 8px;
    background-color: #164423;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}