{% extends 'base.html' %}

{% load static %}

{% block title %}Create Project{% endblock %}

{% block content %}
<div class="login-block-container">
    <header class="profile-infos-container">
        <h1 class="login-infos-header">Create Project!</h1>
        <a class="profile-infos" id="profile-logout-link" href="{% url 'logout' %}">
            <img class="profile-infos-image" id="profile-logout" src="{% static 'img/out.png' %}" alt="Profile Image">
        </a>
    </header>
        <section class="section-login-container">
            <form method="post" action="{% url 'create_project' %}" class="form-login-container">
                <h2 class="login-text-header">Project!</h2>
                {% csrf_token %}
                {% for field in project_form %}
                    <div class="form-login-inputs">
                        <label class="label-login">{{ field.label }}</label>
                        <label class="login-input">{{ field }}</label>
                        {% if field.errors %}
                            <div class="field-errors">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="button-register" type="submit">Create</button>
            </form>
        </section>
    </div>
{% endblock %}