{% extends 'base.html' %}

{% load static %}

{% block title %}Create Certificate{% endblock %}

{% block content %}
    <header class="profile-infos-container">
        <h1 class="header-certificate">Create Certificate!</h1>
         <a class="profile-infos" id="profile-logout-link" href="{% url 'logout' %}">
        <img class="profile-infos-image" id="profile-logout" src="{% static 'img/images.png' %}" alt="Profile Image">
        <p class="profile-infos-letter-logout">Logout</p>
    </a>
        <p><a href="{% url 'create_institution' %}"><button id="profile-certificate">ADD institution</button></a></p>
    </header>
        <div class="section-login-container">
            <form method="post" action="{% url 'create_certificate' %}" id="certificate-form" class="form-register-container">
                {% csrf_token %}
                {% for field in certificate_form %}
                    <div class="form-field-container">
                        <label class="field-label">{{ field.label }}</label>
                            <span class="field-input">{{ field }}</span>
                        {% if field.errors %}
                            <div class="field-errors">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="button-create-certificate" type="submit">Create Certificate</button>
            </form>
        </div>
{% endblock %}