{% extends 'base.html' %}

{% block title %} My Portfolio {% endblock %}

{% block content %}
<div class="login-block-container">
<header class="profile-infos-container">
    <h1 class="login-infos-header">My Profile</h1>
</header>

<section class="section-login-container">
    <form method="post" class="form-login-container">
        <h2 class="login-text-header">Login</h2>
        {% csrf_token %}
        {% for field in login_form %}
            <div class="form-login-inputs">
                <label class="label-login">{{ field.label_tag }}</label>
                <label class="login-input">{{ field }}</label>
                {% if field.errors %}
                    <div class="field-errors">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <p><a href="{% url 'profile-detail' user.id %}"><button type="submit" class="button-login">Enter</button></a></p>
        {% else %}
            <p><a href="{% url 'login' %}"><button type="submit" class="button-login">Enter</button></a></p>
        {% endif %}
    </form>
    <div class="register-container">
    <p class="register-container-letter">Not have any acount left?</p>
        <a href="{% url 'register' %}"><button class="button-login">Create Now!</button></a>
    </div>
    <br><br><br>
</section>
</div>
{% endblock %}