{% extends 'base.html' %}

{% block title %}Register User{% endblock %}

{% block content %}
<div class="login-block-container">
    <header class="profile-infos-container">
        <h1 class="login-text-header">Register!</h1>
    </header>
    <section class="section-login-container">
        <form method="post" action="{% url 'register' %}" class="form-login-container">
            <h2 class="login-text-header">REGISTER</h2>
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-login-inputs">
                    <label class="label-login">{{ field.label }}</label>
                    <label for="" class="login-input">{{ field }}</label>
                    {% if field.errors %}
                        <div class="field-errors">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="button-register" type="submit">Make your Register</button>
        </form>
    </section>
</div>
{% endblock %}