{% extends 'base.html' %}

{% block title %} <h1>Register Profile</h1> {% endblock %}

{% block content %}
    <header class="profile-infos-container"><h1>Faça seu Cadastro!</h1></header>
    <div class="section-login-container">
        <form method="post" action="{% url 'login' %}" class="form-register-container">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-field-container">
                    <label class="field-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="field-errors">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="button-register" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}